@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sunflower', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  background-color: $color-background;
  color: $font-color-default;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, $color-scoll);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, $color-scoll-hover);
}
